body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f5f9ff;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    flex-direction: column;
    gap: 12px;
    padding: 12px;
  }
  .body-content{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .container.sidebar-open .body-content,
  .container.sidebar-open .calendar-content {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
  }
}

